<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<a th:href="@{/categories/create}">Add New Category</a>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Nom</th>
    <th>Actions</th>
  </tr>
  <tr th:each="cat : ${categories}">
    <td th:text="${cat.id}"></td>
    <td th:text="${cat.catCode}"></td>
    <td th:text="${cat.catName}"></td>
    <td>
      <a th:href="@{/categories/edit/{id}(id=${cat.id})}">Edit</a>
      <a th:href="@{/categories/delete/{id}(id=${cat.id})}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
